@import "tailwindcss";

:root {
  --background: #000000;
  --background2: #ffffff;
  --foreground: #ffffff;
  --primary-color:#FFD700;
  --primary-color2:#322b00;
  
  --secondary-color: #111827 ;
  --secondary-color2: #353535;
  --accent-color: #10B981;
  --accent-color2:rgb(24, 247, 172);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

   --color-primary: var(--primary-color);
   --color-primary-500: var(--primary-color2);

   --color-secondary: var(--secondary-color);
  --color-secondary-500: var(--secondary-color2);

  --color-accent: var(--accent-color);
  --color-accent-500: var(--accent-color2);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
        
      }

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
